{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": [
      2,
      {
        "ignore": [
          "navigator"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": false
  },
  "globals": {
    "window": true,
    "document": true,
    "location": true,
    "requestAnimationFrame": true
  }
}
