$header-padding: 10px;

.header {
  border-bottom: solid 1px #ccc;
  display: flex;
  align-items: center;
  padding: $header-padding;
  width: 100%;
  @media #{$iPhoneX} {
    padding: $header-padding constant(safe-area-inset-right) $header-padding constant(safe-area-inset-left);
    padding: $header-padding env(safe-area-inset-right) $header-padding calc(env(safe-area-inset-left));
  }
}

.logo {
  line-height: 1;
  text-align: center;
  width: 80px;
  a {
    display: inline-block;
  }
}

.searchLable {
  display: block;
  position: relative;
  &::before {
    color: #bbb;
    content: '\f002';
    display: block;
    font-family: fontawesome2;
    font-size: 2rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}

.searchBox {
  border: 0;
  border-radius: 4px;
  background: #eee;
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 0 10px;
  padding: 10px 15px 10px 40px;
  width: 500px;
}
